# Static
static/img/wedding-list/
*.css
*.html
jquery*.js
popper*.js
bootstrap*
node_modules/
package*.json

about-us.jpg
direction.jpg

# Templates
vars.pug

# Backend
backend/db/wedding-list.csv
backend/db/*.json

# Secrets
secrets.env
