# Static
static/img/wedding-list/
static/img/about-us/*
!static/img/about-us/1.example.jpg
templates/about-us-content.pug
*.css
*.html
jquery*.js
popper*.js
bootstrap*
node_modules/
package*.json

about-us.jpg
direction.jpg

# Templates
vars.pug

# Backend
backend/db/wedding-list.csv
backend/db/*.json

# Secrets
secrets.env
