- var date = "1 août 1998";

- var carpooling_url = 'https://www.covievent.org/covoiturage/example'
- var directions = []
- directions.push({text: 'Waze', link: 'https://www.waze.com/fr/livemap'})

- var events = []
- events.push({name: 'Messe', hour: '16:30', address: 'Cathédrale Saint-Tugdual<br /> 1 Place du Général Leclerc<br /> 22 220 TRÉGUIER'})

- var accomodations = []
- accomodations.push({text: 'Grand Hotel de Port-Blanc', link: 'http://grandhotelportblanc.com/'})

- var title = "Mariage de Martin et Sophie";
- var STRIPE_PUBLIC_KEY = "pk_XXX"
