extends components/main.pug

block content
  h2#count-down.mb-4
  ul.d-flex.justify-content-between.flex-wrap
    li.card
      a(href="/apropos")
        img.card-img-top(src='/img/about-us.jpg')
        .card-body
            h5.card-title.text-body À propos de nous
    li.card
      a(href="/infos")
        img.card-img-top(src='/img/infos.jpg')
        .card-body
            h5.card-title.text-body Infos pratiques
    li.card
      a#carpooling
        img.card-img-top(src='/img/carpooling.png')
        .card-body
            h5.card-title.text-body Covoiturage
    li.card
      a(href="/liste")
        img.card-img-top(src='/img/list.png')
        .card-body
            h5.card-title.text-body Liste de mariage
block additional-scripts
  script#captcha-script(src=`https://www.google.com/recaptcha/api.js?render=${reCAPTCHA_site_key}` data-reCAPTCHA-site-key=`${reCAPTCHA_site_key}`)
  script
    include components/captcha.js
  script
    include components/countdown.js
