extends components/main.pug

block content
  h1.header #{title}
  ul.d-flex.justify-content-between.flex-wrap
    li.card
      a(href="/apropos")
        img.card-img-top(src='/img/about-us.jpg')
        .card-body
            h5.card-title.text-body À propos de nous
    li.card
      a(href="/infos")
        img.card-img-top(src='/img/infos.jpg')
        .card-body
            h5.card-title.text-body Infos pratiques
    li.card
      a(href="/liste")
        img.card-img-top(src='/img/list.png')
        .card-body
            h5.card-title.text-body Liste de mariage