doctype html
html(lang="fr")
    include component/head.pug
    body
        include component/navbar.pug
        .ui.main.container
            h1.header Liste de mariage
            ul.ui.link.cards
                li.card
                    img.image(src='/img/infos.jpg')
                    .content
                        span.header Matt Giampietro
                        span.meta 1200 €
                        p.description
                            | Matthew is an interior designer living in New York.
                li.card
                    img.image(src='/img/infos.jpg')
                    .content
                        span.header Matt Giampietro
                        span.meta 1200 €
                        p.description
                            | Matthew is an interior designer living in New York.
                li.card
                    img.image(src='/img/infos.jpg')
                    .content
                        span.header Matt Giampietro
                        span.meta 1200 €
                        p.description
                            | Matthew is an interior designer living in New York.
                li.card
                    img.image(src='/img/infos.jpg')
                    .content
                        span.header Matt Giampietro
                        span.meta 1200 €
                        p.description
                            | Matthew is an interior designer living in New York.
                li.card
                    img.image(src='/img/infos.jpg')
                    .content
                        span.header Matt Giampietro
                        span.meta 1200 €
                        p.description
                            | Matthew is an interior designer living in New York.
        //- div(class="ui link cards")
        //-     div(class="card")
        //-         img(class="ui fluid image" src="/img/infos.jpg")
        //-         div(class="header") Service à la française
        //-         span(class="meta") 1200 €
        //-         p(class="description").
        //-             Kristy is an art director living in New York.