@import "../bootstrap-4.4.1/scss/functions";
@import "../bootstrap-4.4.1/scss/variables";
@import "../bootstrap-4.4.1/scss/mixins";

@import 'pages/not-found';
@import 'components/wedding-list';

li.card {
    width: 18rem;
    height: 26rem;

    img {
        max-height: 360px;
    }
}