@use 'pages/not-found';

%basic-card {
    img {
        max-height: 360px;
    }
}

li.card {
    @extend %basic-card;
    width: 18rem;
    height: 26rem;
}

li.card.product {
    @extend %basic-card;
    width: 9rem;
    height: 14rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}