doctype html
html(lang="fr")
  include component/head.pug
  body
    .container
      h1 404 - Page inconnue
      a(href="/") Retour à l'accueil
      img.img-fluid.not-found(src="img/404.png" alt="Garçon étonné de remonter un livre en pêchant.")

