@import "../bootstrap-4.4.1/scss/functions";
@import "../bootstrap-4.4.1/scss/variables";
@import "../bootstrap-4.4.1/scss/mixins";

// $primary: #cc0000;
$theme-colors: (
  "primary": #cc0000,
);

@import '../bootstrap-4.4.1/scss/bootstrap';
@import 'pages/not-found';
@import 'components/wedding-list';

.media img {
  max-height: 4rem;
}

.main-content {
  margin-top: 4rem;
  margin-bottom: 10rem;
}

li.card {
    width: 18rem;
    height: 26rem;

    img {
        max-height: 22.5rem;
        width: 100%;
        object-fit: cover;
    }
}

.pre-wrap {
  white-space: pre-wrap;
}

hr {
  border-color: theme-color("primary");
}
