doctype html
include ../../vars.pug
html(lang="fr")
  include head.pug
  body
    include navbar.pug
    .container
        block content
    script(src='/jquery-3.4.1.slim.min.js')
    script(src='/popper.min.js')
    script(src='/bootstrap-4.4.1-dist/js/bootstrap.min.js')