doctype html
include ../../vars.pug
html(lang="fr")
  include head.pug
  body
    include navbar.pug
    .container.main-content
        block content
    script(src='/jquery-3.4.1.slim.min.js')
    script(src='/popper.min.js')
    script(src='/bootstrap.min.js')
    script
      include navbar.js
    block additional-scripts