nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary
    .container
        a.navbar-brand.font-weight-bold(href="/")
            img.d-inline-block.align-top(src="/favicon/android-chrome-192x192.png" width="30" height="30")
            |  CH
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/apropos") À propos de nous
                li.nav-item
                    a.nav-link(href="/infos") Infos pratiques
                li.nav-item
                    a.nav-link(href="/liste") Liste de mariage